[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-users = {version = "*", extras = ["sqlalchemy"]}
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.10"
